%h1 トイレがきれい
%p トイレのきれいさから飲食店をさがそう
%p 掲載数ダントツNo.1 *自社調べ
%h2 新着写真
%h2 特集から探す
%ul 
  %li おすすめのトイレ
  %li Tポイント利用でお得なお店のトイレ
  %li 都内人気10選
%h2 【PR】おすすめから探す
%ul 
  %li 夏を楽しむアーバンスタイル
  %li 手作り感満載
  %li 店主のまごころがつまったお店
%h2 注目のグルメ記事
%ul 
  %li トイレが一風変わった場所にあるカレー屋さん
  %li 二郎はラーメンではなく二郎という食べ物である
  %li 高級ホテルのコース料理に舌鼓
